<ul class="accordion" data-accordion>
<h1>For <%= @voter_registration_data.name %>:</h1>
  <li class="accordion-navigation">
    <a href="#panel1">Early Voting</a>
    <div id="panel1" class="content">
       <em><p>Is Early In-Person Voting Available?</p></em>
       <%= @user_friendly_display[(@voter_registration_data.early_in_person_voting).to_s.to_sym] %>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel2">Absentee Voting</a>
    <div id="panel2" class="content">
      <% if @voter_registration_data.no_excuse_absentee_voting == true %>
      <em><p>Voter Can Absentee Vote Without Providing a Reason/Excuse:</p></em>
      <%= @user_friendly_display[(@voter_registration_data.no_excuse_absentee_voting).to_s.to_sym] %>
      <% else %>
      <em><p>Voter Must Provide Reason/Excuse for Absentee Vote:</p></em>
      <%= @user_friendly_display[(@voter_registration_data.absentee_voting_with_excuse).to_s.to_sym] %>
      <% end %>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel3">Vote-by-Mail</a>
    <div id="panel3" class="content">
      <em><p>Does this state offer all-mail voting?</p></em>
      <% if @voter_registration_data.all_mail_voting == true %>
      <%= @voter_registration_data.all_mail_voting %>
      <% else %>
      <em><p>This state does not offer all-mail voting. You'll need to visit the polls in person to vote, unless you cast an absentee ballot!</p></em>
      <% end %>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel4">Voter ID Requirements</a>
    <div id="panel4" class="content">
      <em><p>ID Requirements to Vote:</p></em>
      <% if @voter_registration_data.voter_id_on_election_day != "" %>
      <% else %>
      <em><p>No voter ID laws in this state! Isn't democracy great?</p></em>
      <% end %>
    </div>
  </li>

  <li class="accordion-navigation">
    <%if @offices%>
    <a href="#panel5">Candidates</a>
    <% @offices.each do |office| %>
      <div id="panel5" class="content">

        <a class="candidate-name-list" id="<%=@index%>">Running For <%= office %>:
        </a>
        <div class="candite-name-list-div" style="display: none;">
          <% @candidates.where("office = ?", office).each do |candidate|%>
            <p>-<%=candidate.name%></p>
          <%end%>
        </div>
        <% @index += 1%>
      </div>
    <%end%>
    <%end%>
  </li>
</ul>
