<%= form_for :session, url: login_path do %>
  <div class="row collapse">
    <h3>&nbsp; &nbsp;<%= @error %><h3>
    <%= flash[:login_error] %>
    <div class="large-10 columns">
    <%= label_tag "Email:" %>
    <%= text_field_tag "user[email]" %>
    <br>
    <%= label_tag "Password:" %>
    <%= password_field_tag "user[password]" %>
    <p id="login_button"><%= submit_tag "Login" %></p>
    </div>
  </div>
<%end%>
