

<% if @errors%>
  <% @errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>
<div class="grid-block new-user-form">
  <div class="large-5 grid-content">
    <h1 class="sign-up-header">Sign Up</h1><br><br>
  <%= form_for @user do |f| %>
    <%=f.label 'Email:'%>
    <%=f.text_field :email %>
    <br>
    <%=f.label 'Password:'%>
    <%=f.password_field :password%>
    <br>
    <%=f.label 'Address:'%>
 <div id="locationField">
      <input id="autocomplete"
             onFocus="geolocate()" type="text"></input>
    </div>
    <%=f.hidden_field :street_address %>


    <%=f.hidden_field :city%>

    <%=f.hidden_field :state%>

    <%=f.label 'Zip:'%>
    <%=f.text_field :zip%>
    <br>
    <%=f.submit 'Register'%>
  <%end%>
  </div>
</div>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['MAP_KEY']%>&signed_in=true&libraries=places&callback=initAutocomplete"
        async defer></script>
