<h2>Sign Up</h2>

<% if @user.errors.any? %>
  <% @errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<div>
  <%= form_for @user, :url => users_create_path do |f| %>
    <%=f.label 'street address'%>
    <%=f.text_field :street_address %>
    <br>
    <%=f.label 'city'%>
    <%=f.text_field :city%>
    <br>
    <%=f.label 'state'%>
    <%=f.text_field :state%>
    <br>
    <%=f.label 'zip'%>
    <%=f.text_field :zip%>
    <br>
    <%=f.label 'password'%>
    <%=f.text_field :password%>
    <br>
    <%=f.submit 'register'%>
  <%end%>
</div>
