

Welcome <%=@user.email%>. You reside in <b><%=@district%></b>

<h3>Polling place near: <%=@user.street_address%>, <%=@user.city%></h3>
<%=@polling_place%>
<h3>State voting information</h3>
<%= render "zipcodes/state_voter_info" %>
<!-- <h3>Candidates</h3>



<ul>

</ul> -->