<% if @errors%>
  <% @errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<div class="grid-block new-user-form">
  <div class="large-5 grid-content">
    <h1 class="sign-up-header">Profile for: <%=current_user.email %></h1><br><br>
  <%= form_for @user, url: user_path do |f| %>
    <%=f.label 'Email:'%>
    <%=f.text_field :email %>
    <br>
    <%=f.label 'Password:'%>
    <%=f.password_field :password%>
    <br>
    <%=f.label 'Street Address:'%>
    <%=f.text_field :street_address %>
    <br>
    <%=f.label 'City:'%>
    <%=f.text_field :city%>
    <br>
    <%=f.label 'State:'%>
    <%=f.text_field :state%>
    <br>
    <%=f.label 'Zip:'%>
    <%=f.text_field :zip%>
    <br>
    <%=f.submit 'Update'%>
  <%end%>
  </div>
</div>
