<div class="contain to grid">
  <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">IVoted</a></h1>
          <a href="https://twitter.com/share" class="twitter-share-button"{count} data-text="Set a reminder to do you're civic duty. Every vote counts!">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    <section class="top-bar-section">
      <div class="logo-wrapper hide-for-small-only">
           <div class="logo">
             <%= image_tag("logoperfcir.png") %>
           </div>
         </div>
      <ul class="right">
        <li class="has-form"><a href="/" class="button">Home</a></li>
        <% if logged_in? %>
          <li class="has-form"><a href="/users/<%=current_user.id %>" class="button">Voter Information</a></li>
          <li class="has-form"><a href="/users/<%=current_user.id %>/edit" class="button">User Profile</a></li>
          <li class="has-form button"><%= link_to "Logout", logout_path %></li>
        <% else %>
          <li class="has-form button"><%= link_to "Register", new_user_path %></li>
          <li class="has-form button"><%= link_to "Login", login_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>
