<div class="contain to grid">
  <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">IVoted</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    <section class="top-bar-section">
      <div class="logo-wrapper hide-for-small-only">
           <div class="logo">
             <%= image_tag("logoperfcir.png") %>
           </div>
         </div>
      <ul class="right">
        <li class="has-form"><%= link_to "Home", root_path, class: "button" %></li>
        <% if logged_in? %>
          <li class="has-form"><%= link_to "Voter Info", user_path(current_user), class: "button" %></li>
          <li class="has-form"><%= link_to "Profile", edit_user_path(current_user), class: "button" %></li>
          <li class="has-form"><%= link_to "Logout", logout_path, method: :delete, class: "button" %></li>
        <% else %>
          <li class="has-form"><%= link_to "Register", new_user_path, class: "button" %></li>
          <li class="has-form" id="login"><%= link_to "Login", login_path, class: "button" %></li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>
