
<div class="image-carousel">
  <div class="image-carousel-slide">
    <div class="image-carousel-media">
  <%= image_tag("vintage-buttons.jpg") %>
    </div>
  </div>

  <div class="image-carousel-slide">
    <div class="image-carousel-media">
  <%= image_tag("flagsmlr.jpg") %>
    </div>
  </div>

  <div class="image-carousel-slide">
    <div class="image-carousel-media">
  <%= image_tag("vintage_vote_poster1.jpg") %>
    </div>
  </div>

</div>

  <div class="zipcode-form">
    <%= render "zipcodes/form" %>
  </div>

<div class="grid-block voting-info">
  <div class="small-6 medium-10 large-12 grid-content">
  <%= render "pages/general_voting_info_partial" %>
  </div>
</div>
