<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:url" content="http://i-voted.herokuapp.com/" />
  <meta property="og:title" content="IVoted" />
  <meta property="og:description" content="This is the final project at Dev Bootcamp Chicago for Josue Aceves , Lucy Boone, Kyle Dolezal, and Cora Hays-Magan as a labor of civic pride and Rails passion. The mobile-first app helps users find information on registering to vote, polling location, candidates, and upcoming elections. Voting is an important part of life and we feel accessing information about it should come easily to everyone.
  Vote Early, Vote Often!" />
  <meta property="og:image" content="http://i-voted.herokuapp.com/vintage-buttons.jpeg" />
  <meta property="og:image" content="http://i-voted.herokuapp.com/flagsmlr.jpg" />
  <meta property="og:image" content="http://i-voted.herokuapp.com/logoperfcir.png" />






  <title>IVoted</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
  <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css"/>
  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.min.js"></script>

  <script src="https://www.google.com/jsapi?.js"></script>

</head>
<body>

  <div class="container">
  <div class="nav-bar">
    <%= render "pages/navbar" %>
  </div>

    <%= yield %>
    <%= render "pages/footer" %>
  </div>
</body>
</html>
